ansible/ansible.cfg
terraform/.terraform/*
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
.gitignore
terraform.tfstate
terraform.tfvars
diplom.zip
