.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.114.0/linux_amd64/terraform-provider-yandex_v0.114.0
.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.114.0/linux_amd64/README.md
.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.114.0/linux_amd64/LICENSE
.terraform/providers/registry.terraform.io/yandex-cloud/yandex/0.114.0/linux_amd64/CHANGELOG.md
.ssh/diplom.pub
.ssh/diplom
terraform.tfstate.backup
.terraform.lock.hcl
terraform.tfstate
terraform.tfvars
